.link {
  display: block;
  width: fit-content;
  padding: 10px;
  color: white;
  background-color: #7d7a7a;
  border-radius: 15px;
}

.list {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.active {
  background-color: #c2c2c2;
  border: 1px solid black;
  color: black;
}
