.form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.btn {
  outline: none;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px 9px;
  width: fit-content;
  min-width: 10px;
  min-height: 30.4px;
}

.input {
  padding: 5px 9px;
  border-radius: 12px;
  outline: none;
  border: 1px solid black;
}
