.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error {
  position: absolute;
  top: 42px;
  left: 0;
  color: red;
}

.button {
  margin-top: 15px;
  max-width: 70%;
}
