.table {
  width: 400px;
  margin: 0 auto;
  background-color: black;
}

.tr {
  background-color: black;
  color: white;
  padding: 5px 45px;
  text-align: center;
}

.thead {
  background-color: white;
}

.trList:nth-child(even) {
  background-color: gray;
}
