.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 40px 15px;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width: 1158px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
